<html>
  <head>
  </head>
  <body>
    <h1>Input Your Secret Message and Password!</h1>
    <form action="/password" method ="post">
        <label for="secret"></label>
        <input type="text" id="secret" name="secret" placeholder="Add a Secret!"><br><br>
        <label for="password"></label>
        <input type="text" id="password" name="password" placeholder="Add a Password!"><br><br>
        <input type="submit" value="Submit">
    </form> 
  </body>
</html>
