<html>
  <head>
  </head>
  <body>
    <h1>Input Password</h1>
    <form action="secret" method ="post">
        <label for="cpassword"></label>
        <input type="text" id="cpassword" name="cpassword" placeholder="Input Password"><br><br>
        <input type="submit" value="Submit">
    </form> 
  </body>
</html>